<link rel="stylesheet" href="/css/style.css">

<h1 style="text-align: center; margin-bottom: 5%;">Lista de Productos</h1>

<div class="container">

<table>
  <thead>
    <tr>
      <th style="width: 150px; padding-bottom: 2%;">Nombre</th>
      <th style="width: 60px; padding-bottom: 2%;">Categoria</th>
      <th style="width: 80px; padding-bottom: 2%;">Precio</th>
      <th style="width: 60px; padding-bottom: 2%;">Código</th>
      <th style="width: 60px; padding-bottom: 2%;">Stock</th>
      <th style="width: 150px; padding-bottom: 2%;">Descripción</th>
    </tr>
  </thead>
  <tbody>
    {{#each prod}}
    <tr>
      <td style="text-align: center; padding-bottom: 2%;">{{this.title}}</td>
      <td style="text-align: center; padding-bottom: 2%;">{{this.category}}</td>
      <td style="text-align: center; padding-bottom: 2%;">$ {{this.price}}</td>
      <td style="text-align: center; padding-bottom: 2%;">{{this.code}}</td>
      <td style="text-align: center; padding-bottom: 2%;">{{this.stock}}</td>
      <td style="text-align: center; padding-bottom: 2%;">{{this.description}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>